html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden; 
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .bg-video {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 110vw;   
    height: 110vh;  
    object-fit: cover; 
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;

    filter: brightness(0.6) contrast(1.1); 
    transition: transform 0.5s ease; 
  }
}
